@import url(https://fonts.googleapis.com/css?family=Lato:300italic);
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Corinthia:wght@400;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&family=Playwrite+SK:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {
    width: 100vw;
    height: 100%;
    scrollbar-width: none;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

body {
    background: rgb(255, 176, 208);
}

p.name {
    margin: 0;

    color: #8b6a60;
    font-family: "Corinthia";
    font-size: 3.5rem;
    font-weight: 600;
}

#cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
}

/* view */
.pseudo_top {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2.4px;
    width: 5px;
    height: 5px;
    background: #ffffff;
    border-radius: 100%;
    transform: translateY(-300px);
}

.view {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    scale: 1.3;
}

/* ============================================== Candle
      */

.cake {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 228px;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
}

.cake:after,
.cake:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
}

.cake:after {
    top: 25%;
    left: 0;
}

.cake:before {
    top: 45%;
    left: 0;
}

.cake-view {
    height: 800px;
    overflow: hidden;
}

/* ============================================== Fire
      */

.fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
}

.fuego:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
}

/* table */


.table {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 40%;
    background-image:
        repeating-linear-gradient(45deg, #ff9a9e 0, #ff9a9e 10px, #fad0c4 10px, #fad0c4 20px),
        repeating-linear-gradient(-45deg, #a1c4fd 0, #a1c4fd 10px, #c2e9fb 10px, #c2e9fb 20px),
        radial-gradient(ellipse at bottom, #7ed957 0%, #4caf50 60%, #2e7d32 100%);
    background-blend-mode: screen, screen, normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 100% 50%;
    border-top-right-radius: 100% 50%;
}

/* ============================================== Animation Fire
      */

@keyframes fuego {

    0%,
    100% {
        background: rgba(254, 248, 97, 0.5);
        box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        transform: translateY(0) scale(1);
    }

    50% {
        background: rgba(255, 50, 0, 0.1);
        box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        transform: translateY(-20px) scale(0);
    }
}

@keyframes in {
    to {
        transform: translateY(0);
    }
}

.text {
    color: #8b6a60;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    scale: 1.3;

    h1 {
        font-size: 1.4em;
    }
}

@keyframes dropCake {
    to {
        transform: translateY(0);
    }
}